<link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />

<header>
      <nav>
            <a id="title">XD REVIEWS</a>

            {{#if user}} 
            <ul> 
                  <li> Welcome, {{user}}</li>
                  <li><a>Logout</a></li>
                  <li><a href="../games">Games</a></li>
                  <li><a>Add a Game</a></li>
                  <li><a>About Us</a></li>
            </ul> 
            {{else}} 
            <ul> 
                  <li><a href="../login">Log In</a></li>
                  <li><a href="../signup">Create Account</a></li>
                  <li><a href="../games">Games</a></li>
                  <li><a>About Us</a></li>
            </ul>
            {{/if}}
      </nav>    
</header>