<!doctype html>
<html>
  <head><title>Games List</title></head>
  <body>
    </script> 
    {{!-- <div  id="gamesdata"></div> --}}
    <h1>Top {{type}} Games</h1>
    <ul class= "listofgames"></ul>
    <script id="gametemplate" type= "text/x-handlebars-template">
    {{#each info}}
        <li class= "info">
          <h2>{{title}}</h2>
          <p>Year: {{year}}</p>
          <p>Descritpion : {{description}}</p>
        </li>
        {{/each}}
    </script>

  </body>
</html>