<DOCTYPE html>
	<html>
<head><title>Adding Games</title></head>
	<body>
		<header>Adding Games</header>
		{{#if errorMsg}}
		<div class= "error-msg">
			{{errorMsg}}
		</div>
		{{/if}}

		<form method= "post">
			<input type="text" placeholder="Title:" name="title" required/>
			<input type="text" placeholder="Slugline" name="slugline" required/>
			<input type= "text" placeholder="Summary" name="summary" required/>
			<h1>Platforms:</h1>
						{{#each platforms}}
				<input type="checkbox" name="Platform1" value="{{this.name}}" />{{this.name}}
			{{/each}}
			<input type="date" placeholder="Release Date" name="release date" required/>
			<input type="text" placeholder="Developer" name="developer" required/>
			<input type="text" placeholder="Publisher" name="publisher" required/>
			<button class="Submit_button" type="submit"> Submit</button>
	</body>






	</html>
</DOCTYPE>