<!DOCTYPE html>
<html lang="en">

<head>
	<title>Error</title>
	<meta charset="UTF-8">

	<link href="/public/css/navbar.css" type="text/css" rel="stylesheet" />
</head>

<body>
	{{>navbar}}
	<h1>An Error has occurred.</h1>
	<h2>{{message}}</h2>
</body>
</html>
