<!DOCTYPE html>
<html>
<head>
    <title>Game Review Page</title>
    <meta charset= "utf-8" />
    <link href= "css/edit.css" type="text/css" rel= "stylesheet" />
    
</head>
<body>
<h1>XD REVIEWS</h1>   
<nav>
<ul>
    <li>Sign in</li>   
    <li><a href= "http://localhost:8080/signup">Create Account</a></li>   
    <li>Charts</li>   
    <li>Search...</li>   
</ul>
</nav>
       
</body>











</html>