<!DOCTYPE html>

<html>
	<head>
		<title>Game List Page</title>
	</head>

	<body>
		{{#each genres}}
			<ul>
				<li>
					<a href="/games/{{name}}">{{name}}</a>
				</li>
			</ul>
  	{{/each}}

	</body>
</html>