<!DOCTYPE html>
<html lang="en">

<head>
    <title>XD REVIEWS </title>
    <meta charset="UTF-8" />
    <link href="css/homepage.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
</head>

<body>
<header>
   <a id="title">XD REVIEWS</a>

   <ul class="top"> 
         <li><a>Log In</a></li>
         <li><a>Create Account</a></li>
         <li><a>Games</a></li>
         <li><a>Contacts</a></li>
      
         <li id=><input type="text" placeholder="Search.."></li>
      
   </ul>
        
</header>

<section width= "1100px" height="auto">
      <img src= "images/godofwar.jpg" alt="GodOfWar" >
</section>

<p class="word" >Discover new games every day. Review your favourite ones.</p>



<!-- 

Read more: https://html.com/tags/comment-tag/#ixzz62KzB5BPO
 <footer>
      <a id="copyright">© 2019 Avengers Inc. All rights reserved.</a>
      <ul class="bottom">
           
            <li><a>Privacy Policy</a></li>
            <li><a>Terms of Use </a></li>
            <li><a>Help</a></li>
            <li><a>Advertise</a></li>  
            <li><a>Partnerships</a></li>
            <li><a>Careers</a></li>
         
      </ul>
           
</footer >
-->
</body>

</html>