<!DOCTYPE html>
<html lang="en">

<head>
    <title>XD REVIEWS</title>
    <link href="css/homepage.css" type="text/css" rel="stylesheet" />
    <meta charset="UTF-8" />
</head>

<body>
<header>
   <a id="title">XD REVIEWS</a>

   <ul class="top"> 
         <li><a>Log In</a></li>
         <li><a>About</a></li>
         <li><a>Contacts</a></li>
         <li id=><input type="text" placeholder="Search.."></li>
      
   </ul>
        
 </header>

 <footer>
   
      <ul class="bottom">
            <li><a>© 2019 Avengers Inc. All rights reserved.</a></li>
            <li><a>Privacy Policy</a></li>
            <li><a>Terms of Use </a></li>
            <li><a>Help</a></li>
            <li><a>Advertise</a></li>  
            <li><a>Partnerships</a></li>
            <li><a>Careers</a></li>
         
      </ul>
           
</footer>
</body>

</html>