
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="home page after successful login">
		<meta name="author" content="Jarence Plan">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Home</h1>
		<p>This is the home page. Welcome.</p>
		<p><a href="/logout">Click Here to Log Out</a></p>
</html>
