 <!DOCTYPE html>
<html>

<head>
  <title>Log In</title>

  <style lang="css">
    .login-form {
      margin-left: auto;
      margin-right: auto;
      margin-top: calc(50vh - 100px);
      width: 400px;

      border: 1px solid black;
    }

    .login-form form {
      padding: 5px;
    }

    .login-form input {
      margin-top: 10px;
      margin-bottom: 10px;
      width: calc(100% - 5px);
      height: 20px;
      display: block;
    }

    .login-button {
      background-color: rgb(84, 84, 230);
      color: white;
      font-family: sans-serif;
    }
  </style>
</head>

<body>
  {{#if errorMsg}}
  <div class="error-msg">
    {{errorMsg}}
  </div>
  {{/if}}

  <div class="login-form">
    <form method="post">
      <input type="text" placeholder="Username" name="username" required />
      <input type="password" placeholder="Password" name="password" required />
      <button class="login-button" type="submit">Log In</button>
    </form>
  </div>
</body>

</html>