
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create an Account</title>
		<meta name="description" content="form to create a new account">
		<meta name="author" content="Jarence Plan">
		<link href="signup.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Create an Account</h1>
		<form action="/register" enctype="multipart/form-data" method="post">
			<p>Username:<br /><input type="text" name="user" placeholder="Username (no spaces)" value=""></p>
            <p>Password:<br /><input type="password" name="pass" placeholder="Your chosen password" value=""></p>
			<p>Full Name:<br /><input type="text" name="fullname" placeholder="Enter Full Name" value=""></p>
			<p>Date of Birth:<br /><input type="text" name="dob" placeholder="(DD/MM/YYYY)" value=""></p>
			<p>Address:<br /><input type="text" name="address" placeholder="Enter address" value=""></p>
			<p>Nationality:<br /><select name="country">
					<option value="">--Please choose an option--
				</option>
    				<option value="UK">UK</option>
					<option value="North American">North American</option>
					<option value="South American">South American</option>
					<option value="European">European</option>
					<option value="African">African</option>
					<option value="Asian">Asian</option>
					<option value="Other">Other</option>
				</select>
			<p>Gender:<br /><select name="gender">
					<option value="">--Please choose an option--
				</option>
    				<option value="Male">Male</option>
					<option value="Female">Female</option>
					<option value="Other">Other</option>
				</select>
			<p>Profile Picture:<br /><input type="file" name="avatar"></p>
			<p><input type="submit" value="Create"></p>
		</form>
		<p><a href="/login">Already have an Account? Login here!</a></p>
	</body>
</html>
