**/
html {
  height: 100%;
}

body{
    background-color: #111111 !important;
    color: black;
    margin:0;
}
/*MAIN IMAGE*/
section{
  width: 1100px;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0px 0px 150px 150px #111111;

 }
img {
  width: 1100px;
  height:auto;
  margin-top: 0;
  position: relative;
  z-index: -2;
}
/*MAIN TEXT*/
.word{
  font-family: 'Staatliches', cursive;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
  color: white;
  width: 550px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
  float: center;
  top: 400px;
  
}
