h1 {
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
  }

body {
    color: rgb(255, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: url(avatars/source-2.gif);
    background-size: cover;
    background-color: white;
    padding: 0 0 0 10%;
    margin-left: 0%;
  }